
body{
    color: azure;
}


.header{
    background-color: brown;
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
}
.menu{
    background-color: blue;
    margin: 5px;
    padding: 5px;
    flex-basis: 200px;
    text-align: center;
}
p{
    text-align: left;
    padding: 4px;
}
.content{
    background-color: blueviolet;
    margin: 5px;
    padding: 5px;
    flex: 1;
    text-align: center;
}
.side{
    background-color: rgb(2, 25, 25);
    margin: 5px;
    padding: 5px;
    flex-basis: 200px;
    text-align: center;
}
.footer{
    background-color: rosybrown;
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.container{
    display: flex;
    width: 100%;
    min-height: 200%;

}